html {
	height: 100%;
}

body {
	font-family: American Typewriter;
	font-size: 14pt;
	background: #a6a6a6;
}

.title {
	font-family: Balloon XBd BT;
	font-size: 70pt;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}

.interaction {
	width: 1450px;
	height: 600px;
	margin: 0 auto;
}

.machine {
	width: 1000px;
	height: 600px;
	background: #1A1A1A;
	float: left;
	margin: 0 auto;
}

.selections {
	margin: 0 auto;
	width: 750px;
	height: 600px;
	float: left;
}

.glass {
	margin-top: 25px;
	margin-left: 25px;
	width: 725px;
	height: 425px;
	background: #333333;
	float: left;
	margin-bottom: 20px;
}

.sodas1, .sodas2 {
	width: 725px;
	height: 170px;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}

#sierra_mist_can,
#dr_pepper_can,
#mountain_dew_can,
#mug_root_beer_can,
#pepsi_can,
#sprite_can,
#coca_cola_can,
#sunkist_can {
	height: 168px;
	margin: 30px;
	margin-bottom: -7px;
	margin-top: 25px;
}

#sierra_mist_can {
	width: 85.6px;
}

#dr_pepper_can {
	width: 89.70px;
}

#mountain_dew_can {
	width: 92px;
}

#mug_root_beer_can {
	width: 96.11px;
}

#pepsi_can {
	width: 88.60px;
}

#sprite_can {
	width: 90px;
}

#coca_cola_can {
	width: 89.31px;
}

#sunkist_can {
	width: 91.17px;
}

.shelf1, .shelf2 {
	width: 600px;
	height: 10px;
	background: #1A1A1A;
	margin: 0 auto;
}

.retriever {
	border: 5px solid #333333; 
	border-radius: 15px;
	background: black;
	width: 250px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	color: #333333;
	font-size: 100pt;
	clear: left;
	-webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
    	 -o-transform: scaleY(-1);
  	        transform: scale&(-1);
           -ms-filter: "FlipV";
               filter: FlipV;  
}

.options {
	width: 250px;
	height: 525px;
	margin-top: 50px;
	float: left;
}

.lcd {
	width: 150px;
	height: 50px;
	border: 5px solid black;
	background: #5f9a19;
	margin: 0 auto;
	margin-bottom: 15px;
}

.insert_money {
	width: 125px;
	height: 10px;
	border: 5px solid #333333;
	background: black;
	margin: 0 auto;
}

.buttons {
	width: 250px;
	height: 170px;
	margin-top: 15px;
	display: inline-block;
	text-align: center;
}

#sierra_mist_button,
#dr_pepper_button,
#mountain_dew_button,
#mug_root_beer_button,
#pepsi_button,
#sprite_button,
#coca_cola_button,
#sunkist_button {
	margin: 5px;
}

.change {
	width: 100px;
	height: 50px;
	border: 5px solid #333333;
	background: black;
	margin: 0 auto;
}

.payment {
	width: 400px;
	height: 600px;
	float: left;
	padding-left: 50px;
	text-align: center;
}

h1 {
	margin: 0;
}

label {
	font-size: 25pt;
	font-family: inherit;
}

input[type=text] {
	text-align: center;
	font-family: inherit;
	font-size: 25pt;
	width: 75px;
	height: 50px;
}

button[type=submit] {
	font-family: inherit;
	border: 1px solid green; 
	border-radius: 10px;
	background: green;
	font-size: 25pt;
	width: 250px;
	height: 50px;
}

#money {
	width: 125px;
	height: 204px;
	margin-top: 75px;
}